opencv-python
pillow
requests
pymysql
sqlalchemy
tornado
scipy
matplotlib


matplotlib
numpy
opencv-python
pillow
tensorflow==1.5
scipy
jieba
Cython
fasttext
word2vec
tensorboard
scikit_image
Augmentor

captcha
